# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List the popular languages in Data Science
- List the most commonly used libraries in Data Science
- In a table list the Data Science environment
- List some basic arithmetic operations
- Evaluate some arithmetic expression

Some of the popular languages that Data Scientist use are:
1. Python 
2. R
3. SQL
4. Java
5. C++
6. Ruby

Some of the commonly used libraries used by Data Scientist include:
1. pandas
2. numpy
3. matplotlib
4. seaborn
5. scikit

|Data Science Tools|
|------------------|
|Jupyter Lab |
|R Studio |
|Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python
2+3

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yashraj Kanade